/* @tailwind base; */
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.block-l{
  width: 380px;
  position: relative;
  height: 40vh;
  padding: 20px;
  border-radius: 10px;
  z-index: 10;
  top:28vh;
  display: block;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:10px;
  background-color:white;
  -webkit-box-shadow: 1px 1px 116px 67px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 116px 67px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 116px 67px rgba(0,0,0,0.75)
}
