/* @tailwind base; */
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "K2D", sans-serif;
}
.white-text{
  color: rgb(0, 0, 0);
}
/* Global styles for light mode */
.light-mode {
  --background-color: rgb(255, 255, 255);
  --background-color-element:#e1eff9;
  --text-color: black;
  --button-background:black;
  --button-color:white;
}
.dark-mode {
  --background-color: #141318;
  --background-color-element:#323234;
  --text-color: #FEFFFF;
  --button-background:rgb(255, 255, 255);
  --button-color:rgb(0, 0, 0);
}
.mode-set{
  background-color: var(--background-color);
  color:var(--text-color);
}
.mode-set-element{
  background-color: var(--background-color-element);
  color: var(--text-color);
}
.button-color{
   background-color:var(--button-background);
   color:var(--button-color);
}
.block-l{
  width: 100%;
  height: 55vh;
  position: fixed;
  left: 0.1px;
  padding: 10px;
  bottom: 160px;
  display: block;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:10px;
  background-color:rgb(255, 255, 255);
  -webkit-box-shadow: 1px 0px 300px 200px rgba(0,0,0,1);
-moz-box-shadow: 1px 0px 300px 200px rgba(0,0,0,1);
box-shadow: 1px 0px 300px 200px rgba(0,0,0,1);
}

.drop-p{
  width: 100%;
  height: 35vh;
  position: fixed;
  right: 0.1px;
  top:7%;
  display: flex;
  align-items:start;
  flex-direction:column;
  z-index:1;
  transition: top 0.5s ease;
  gap:35px;
}
.border-line{
  border:1px solid black ;
}
.zindex{
  position:relative;
  z-index:20;
}
.hide{
  width: 100%;
  height: 50vh;
  position: fixed;
  right: 0.1px;
  background:rgb(147, 147, 147);
  color: black;
  display: flex;
  align-items:center ;
  justify-content:space-evenly;
  flex-direction: column;
  top:-50%;
}
.bor{
  border: 0.5px solid rgba(255, 255, 255, 0.408);
}
.borders{
  border-bottom: 0.5px solid rgba(95, 95, 95, 0.408);
}

.scrollbar-thumb {
  scrollbar-color: #161616 #e5e7ebad; 
  scrollbar-width: thin; 
}
.box-shadows{
  -webkit-box-shadow: 1px -9px 42px -16px rgba(0,0,0,1);
-moz-box-shadow: 1px -9px 42px -16px rgba(0,0,0,1);
box-shadow: 1px -9px 10px -16px rgba(0,0,0,1);
}

.scrollbar-thumb::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}
.scrollbar-thumb::-webkit-scrollbar-track {
  background-color: #e5e7ebfe; 
}

@media (max-width:760px) {
  .min-screen{
    display: flex;
    flex-direction: column;
  }
  .min-screen-main{
    width: 100%;
    height: 30vh;
  }
  .total-data-min{
   height: 100%;
   margin-left: 0px;
   margin-top: 10px;
  }
  .total-data-balance{
    height:60%;
    width: 95%;
    margin:0;
  }
  .total-data-exp{
    display: flex;
    width: 95%;
    height: 40%;
    flex-direction: row;
    gap:10px;
    margin-top:10px;
  }
  .min-screen-list{
    height: 56vh;
    width: 100%;
  }
  .min-font{
    font-size:15px;
  }
  .data-font{
    font-size: 15px;
  }
  .data-font-amt{
    font-size: 20px;
  }
  .min-screen-expense{
    height: 100%;
  }
  .min-header{
    height:7vh;
  }
  .min-head-font{
    font-size: 15 px;
  }
  .min-add{
    width: 10px;
    height: 10px;
    padding: 0;
    font-size: 40px;
  }
  
}













