/* @tailwind base; */
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.block-l{
  width: 380px;
  height: 40vh;
  padding: 20px;
  border-radius: 10px;
  top:20vh;
  display: block;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ff0000;

  color: aliceblue;
}
